.classpath
.DS_Store
.history
.idea
.idea_modules
.project
.sass-cache
.settings
*.iml
*.sc
*.log
deploy/tatsu-service.version
dist
logs
out
RUNNING_PID
project/project
project/target
target
tmp
.bundle
/deploy/vendor
/deploy/ami.txt
/deploy/metadata.yaml
node_modules
app/assets/libraries
public/javascripts/*min.js
public/stylesheets/*min.css
public/stylesheets/*min.css.map
public/images/*
resources/build.txt
deploy/metadata.yaml
